* {
    padding: 0;
    margin: 0;
    outline: none;
}

.check-span {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #B5B1B1;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.check-span input[type="checkbox"],.check-span input[type="radio"] {
    opacity: 0;
    position: relative;
    vertical-align: top;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
}

.check-span input[type="radio"] + .tick-mark {
    border-radius: 100% !important;
}

.check-span input[type="radio"]:checked + .tick-mark {
    display: block;
    background-color: #8B908D;
    height: 7px;
    width: 7px;
    border-radius: 3px;
    position: absolute;
    top: 4px;
    z-index: 1;
    background-size: 11px 11px;
    background-position: 3px 3px;
    border: none;
    left: 4px;
    border-radius: 100%;
}

.check-span input[type="checkbox"]:checked + .tick-mark {
    display: block;
    background: url('/images/tick.png') no-repeat 0 0;
    background-color: #3CC77A;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    position: absolute;
    top: -1px;
    z-index: 1;
    background-size: 11px 11px;
    background-position: 3px 3px;
    border: none;
    left: -1px;
}

.red-border {
    border-color: #FDB3C1 !important;
}

.left-float {
    float: left;
}