

.todo-container {
    color: #5A5A5A;
    margin: 0px auto;
    max-width: 600px;
    border: 1px solid #C7C7C7;
    border-radius: 2px;
    margin-top: 100px;
    padding: 15px;
    position: relative;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
}

.list-container {
    margin-top: 10px;
    overflow-y: auto;
    height: 350px;
}

.list-row {
    height: 36px;
    line-height: 36px;
    margin: 5px 0;
    position: relative;
}

.list-row .status .check-span {
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.list-row .status {
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
}

.list-row .text {
    width: 100%;
    padding: 0 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.list-row .full-info-text {
    color: white;
}

.full-info-title {
    color:white;
    position: absolute;
}

.list-row .full-info {
    position: absolute;
    top: 100%;
    left: 0px;
    visibility: hidden;
    max-width: 100%;
    background-color: #f0ad4e;
    padding: 10px;
    color: white;
    line-height: 24px;
    word-wrap: break-word;
    z-index: 3;
    border-radius: 3px;
    opacity: 0;
    min-width: 100px;
    -webkit-transition: opacity .88s;
	-moz-transition: opacity .88s;
	-o-transition: opacity .88s;
	-ms-transition: opacity .88s;
	transition: opacity .88s;
}

.list-row:hover .full-info {
    visibility: visible;
    opacity: 0.95;
}

.add-new-container {
    position: relative;
    margin-right: 40px;
}

.add-new-item:focus {
    border-color: #CCC;
}

.add-new-button {
    background: url(../images/add-blue.png);
    height: 40px;
    border: 0;
    width: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    border-radius: 0 2px 2px 0;
    background-position: 0 0;
    background-color: #52a552;
    position: absolute;
    right: -40px;
    box-sizing: border-box;
    opacity: 0.7;
    cursor: pointer;
}

.add-new-button:hover {
    opacity: 0.9;
}

.add-new-button:active {
    opacity: 1;
}

.clear {
    clear:both;
}

.big-textbox {
    height: 40px;
    border: 1px solid #DDD;
    padding: 5px 10px;
    width: 100%;
}

.add-new-item {
    float: left;
    border-radius: 2px 0 0 2px;
    border-right-width: 0;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f0ad4e;
    position: absolute;
    top: -5px;
    left: 60px;
}

.list-row .delete {
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.list-row .delete-icon {
    height: 100%;
    border: none;
    width: 36px;
    background: url('/images/delete-icon.png');
    background-repeat: no-repeat;
    background-size: 36px 28px;
    background-position: 0px 3px;
    cursor: pointer;
    opacity: 0.7;
}

.list-row .delete-icon:active {
    opacity: 1;
}

.list-row .delete-icon:hover {
    opacity: 0.9;
}

.no-more .img {
    background: url('/images/nomore.svg');
    height: 100px;
    width: 78px;
    background-repeat: no-repeat;
    margin: 0px auto;
}

.no-more {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -110px;
    width: 230px;
    text-align: center;
}

.edit-div {
    height: 100%;
    position: relative;
    display: none;
}

.edit-div input {
    height: 30px;
    margin: 3px 0; 
    border: 1px solid #CCC;
    float: left;
    padding: 2px 10px;
    box-sizing: border-box;
    width: 100%;
}

.edit-div .save {
    background: url('../images/save-icon.png');
    height: 22px;
    width: 22px;
    float: right;
    border: 0;
    opacity: 0.6;
    margin: 7px 4px;
    cursor: pointer;
    margin-right: 10px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.edit-div .cancel {
    background: url('../images/cancel-icon.png');
    height: 22px;
    width: 22px;
    float: right;
    border: 0;
    opacity: 0.6;
    cursor: pointer;
    margin: 7px 4px;
    margin-right: 10px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.current-div {
    position: relative;
    height: 100%;
}

.edit-icon {
    background-color:gray;
    height: 100%;
    width: 40px;
    right: 0;
    position: absolute;
    top: 0;
    background: url('/images/edit-icon.svg');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;
    border: 0;
}

.edit-icon:hover {
    opacity: 0.7;
}

.current-div span {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-text-div {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-right: 80px;
}

.edit-div button:hover {
    opacity: 0.8 !important;
}

.show-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    box-sizing: border-box;
}

div.ui-datepicker{
    font-size: 12px;
}

.dummy-edit-text {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 10% !important;
}

.sort-container { 
    margin: 10px 0 0;
}

.sort-icon:hover {
    opacity: 0.8;
}

.sort-icon:active {
    opacity: 1;
}

.sort-icon {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 5px;
    background: url('../images/sort.svg');
    background-repeat: no-repeat;
    border: 0;
    opacity: 0.6;
    cursor: pointer;
}

.sorted-dv {
    border: 1px solid #EEE;
    border-radius: 2px;
}